<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.zhixun.uiho.com.gissystem">

    <!-- xmlns:tools="http://schemas.android.com/tools" -->
    <!-- tools:overrideLibrary="com.esri.arcgisruntime" -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.MyBaseApplication"
        android:icon="@mipmap/logo1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--登录-->
        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TestTitleActivity" />
        <!--主页-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <!--持证人-->
        <activity android:name=".ui.activity.HolderSizeMarkActivity" />
        <!--单位保密检查结果-->
        <activity android:name=".ui.activity.UnitCensorShipActivity" />
        <!--单位详情-->
        <activity android:name=".ui.activity.UnitDetailActivity" />
        <!--保密检查详情-->
        <activity android:name=".ui.activity.CensorshipDetailActivity" />
        <!--总体统计-->
        <activity android:name=".ui.activity.TotalStaticsActivity" />
        <!--保密检查登记-->
        <activity
            android:name=".ui.activity.CensorshipRegisterActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <!--提交的保密检查记录-->
        <activity android:name=".ui.activity.SubmitCensorShipRecordActivity" />
        <!--本地文件-->
        <activity android:name=".ui.activity.LocalFileActivity" />
        <!--报件详情-->
        <activity android:name=".ui.activity.ResultDispatchDetailActivity" />
        <!--拥有的涉密测绘成果-->
        <activity android:name=".ui.activity.OwnSecretResultActivity" />
        <!--使用说明-->
        <activity android:name=".ui.activity.InstructionsActivity" />
        <!--预审消息-->
        <activity android:name=".ui.activity.PrepareMessageActivity" />
        <!--保密检查消息-->
        <activity android:name=".ui.activity.SecrecyInspectMessageActivity" />
        <!--成果目录更新消息-->
        <activity android:name=".ui.activity.ResultFolderUpdateMessageActivity" />
        <!--成果申请消息-->
        <activity android:name=".ui.activity.ResultDeclareMessageActivity" />
        <!--成果申请消息详情-->
        <activity android:name=".ui.activity.ResultDeclareMessageDetailActivity" />
        <!---->
        <activity android:name=".AppCashActivity" />
        <activity android:name=".ui.activity.SignaturePadActivity" />
    </application>

</manifest>